{% extends 'base.html' %}

{% block content %}
    <div class="page">
        <div class="scritta">
            Vuoi essere il mio San Valentino?
        </div>
        <div class="container">
            
            <div class="btnDiv" id='noBtnDiv' style="position: absolute;">
                <form method="POST"> 
                    {% csrf_token %}
                    <button class="Btn" id="noBtn" type="submit">
                        No
                    </button>
                </form>
            </div>
    
            <div class="btnDiv" id="yesBtnDiv">
                <a href="{% url 'siResp' %}">
                    <button class="Btn" id="yesBtn">
                        Sì
                    </button>
                </a>
            </div>
        
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const noBtnDiv = document.getElementById("noBtnDiv");

            noBtnDiv.addEventListener("mouseover", function() {
                
                const randomX = Math.random() * (window.innerWidth - 200);
                const randomY = Math.random() * (window.innerHeight - 100);

                noBtnDiv.style.left = `${randomX}px`;
                noBtnDiv.style.top = `${randomY}px`;
            });
        });
    </script>
{% endblock %}
